/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; 
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #1D1F21; 
    color: #fff; 
    padding: 20px 0;
    text-align: left;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
}

h1 {
    margin: 0;
    font-size: 2rem;
    padding-left: 20px;
    letter-spacing: 1px; 
}

/* Contenedor principal */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Galería de videos */
.video-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    padding: 20px 0;
    justify-items: center; 
}

.video-container {
    width: 80%; 
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

p {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    text-transform: uppercase; 
    letter-spacing: 1px;
    padding: 10px 0;
}

/* Footer */
footer {
    background-color: #2C3E50; 
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1); 
}

/* Responsividad */
@media (max-width: 768px) {
    .video-gallery {
        grid-template-columns: 1fr; 
    }

    .video-container {
        width: 90%; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
}
